.Loader{
    color: rgb(50, 152, 46);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    justify-content: center;
    display: flex;
    z-index: 999;
    align-items: center;
    background-color: rgb(68, 68, 61);
    gap: 20px;
}