.container{
    position: absolute;
    width: 100%;
    min-height: 700px;
}
.ActionCard {
  width: 350px;
  height: 210px;
  border: solid 2px black;
  position: absolute;
  right: -30px;
  bottom: 100px;
  background-image: url(Uzor.png);
  background-size: cover;
  border-radius: 15px;
  rotate: calc(90deg);
  transition: .5s;
  z-index: 1000;
  opacity: 0;
  /* НЕ ставимо animation тут */
}

.animateCardA {
  animation-name: CardAnimationA;
  animation-iteration-count: 1;
  animation-duration: 3s;
  animation-direction: alternate;
  animation-fill-mode: forwards; // ← Додати
}

@keyframes CardAnimationA {
  0% {
    width: 350px;
    height: 210px;
    right: -30px;
    bottom: 100px;
    rotate: calc(90deg);
    opacity: 0;
  }
  25% {
    width: 350px;
    height: 210px;
    right: 30px;
    bottom: 245px;
    rotate: calc(0deg);
    opacity: 100;
  }
  50%{
    width: 350px;
    height: 210px;
    right: 30px;
    bottom: 245px;
    rotate: calc(0deg);
    opacity: 100;
  }
  90%{
    width: 350px;
    height: 210px;
    right: 593px;
    bottom: 245px;
    rotate: calc(0deg);
    opacity: 0;
  }
  100%{
    width: 350px;
    height: 210px;
    right: -30px;
    bottom: 100px;
    rotate: calc(90deg);
    opacity: 0;
  }
}