.NavMain {
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  position: relative;
  z-index: 999;
}
.NavMain-right-menu {
  position: absolute;
  right: 0;
  background-color: rgb(233, 233, 233);
  width: max-content;
  max-width: 300px;
  border-radius: 20px;
  border: solid 1px gray;
}
.NavMain-right {
  position: relative;
}
.line{
    width: 97%;
    height: 1px;
    background-color: gray;
    margin: auto;
    border-radius: 10px;
}