.ButtonLearnMore {
    background: rgb(213,106,255);
    background: linear-gradient(74deg, rgb(26, 13, 31) 25%, rgb(41, 17, 73) 90%);
    display: flex;
    align-items: center;
    width: max-content;
    text-transform: uppercase;
    color: 222;
    font-weight: 900;
    border-radius: 50px;
    padding: 4px;
    padding-left: 20px;
    cursor: pointer;
}
.ButtonLearnMore-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 0px 0px;
    font-size: 30px;
    color: #fff;
}
.ButtonLearnMore-icon {
    width: 70px;
    height: 70px;
    background: rgb(213,106,255);
    background-color: linear-gradient(74deg, rgb(209, 100, 253) 25%, rgb(131, 40, 250) 90%);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 0;
    color: #222;
}
.ButtonLearnMore:hover {
    background: rgb(213,106,255);
    background-color: linear-gradient(74deg, rgb(209, 100, 253) 25%, rgb(131, 40, 250) 90%);
}
.ButtonLearnMore:hover .ButtonLearnMore-icon {
    background: linear-gradient(74deg, rgb(26, 13, 31) 25%, rgb(41, 17, 73) 90%);
    color: #fff;
}
.ButtonLearnMore:active {
    box-shadow: 0 0 2px 0 #222;
}