.ButtonClickHere {
    display: inline-block;
    padding: 12px 24px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    background: linear-gradient(135deg, #4facfe, #00f2fe);
    border: none;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: 0.3s;
}
  .ButtonClickHere:hover {
    background: linear-gradient(135deg, #00c6ff, #0072ff);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    transform: translateY(-2px);
}
.ButtonClickHere:active {
    box-shadow: 0 0 2px #222;
    background: radial-gradient(circle, #4facfe, #0072ff);
}